In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/content/ML_study_jam.csv')

In [3]:
print("||Initial data||\n",data)

||Initial data||
      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [4]:
x = data.dropna()
print("In this data the missing valued rows/columns are removed. \n",x) # a)

In this data the missing valued rows/columns are removed.
      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[563 rows x 5 columns]

In [5]:
m = data.fillna(data.mean())
print("In this data the missing values are replaced by mean. \n",m) # b)

In this data the missing values are replaced by mean.
      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [6]:
n = data.fillna(data.mode())
print("In this data the missing values are replaced by mode. \n",n) # b)

In this data the missing values are replaced by mode.
      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [7]:
dt = data.dropna(thresh=5)
print("Missing values are removed (beyond a threshold value=5) \n",dt) #c)

Missing values are removed (beyond a threshold value=5)
      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[563 rows x 5 columns]

In [8]:
dr = data.fillna(value='Threshhold',limit=5)
print("Missing values are replaced (beyond a threshold value=5) \n",dr) # c)

Missing values are replaced (beyond a threshold value=5)
     Store ID  Store_Area Items_Available Daily_Customer_Count Store_Sales
0         1.0     1659.0          1961.0                530.0     66490.0
1         2.0     1461.0          1752.0                210.0     39820.0
2         3.0     1340.0          1609.0                720.0     54010.0
3         4.0     1451.0          1748.0                620.0     53730.0
4         5.0     1770.0          2111.0                450.0     46620.0
..        ...        ...             ...                  ...         ...
585     586.0     1227.0          1476.0                720.0     56260.0
586     587.0     1609.0          1930.0                740.0     76470.0
587     588.0     1553.0          1831.0                740.0     35680.0
588     589.0     1814.0          2174.0                770.0     90070.0
589     590.0     1240.0          1493.0                590.0     33120.0

[590 rows x 5 columns]