In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/content/ML_study_jam.csv') # a)

In [9]:
print(data)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [3]:
shape = data.shape
print("Shape of the data =",shape) # b.1)

Shape of the data = (590, 5)

In [4]:
c = len(data.columns)
print("Number of Columns =",c) # b.2)

Number of Columns = 5

In [5]:
mean = data.mean()
print("\n|| Mean of the Data ||\n",mean) # b.3)

|| Mean of the Data ||
 Store ID                  295.369048
Store_Area               1482.250426
Items_Available          1775.050086
Daily_Customer_Count      785.807229
Store_Sales             58223.865979
dtype: float64

In [6]:
r = data.head(10)
print("|| Top 10 Rows of the data ||\n",r) # e)

|| Top 10 Rows of the data ||
    Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0        1.0      1659.0           1961.0                 530.0      66490.0
1        2.0      1461.0           1752.0                 210.0      39820.0
2        3.0      1340.0           1609.0                 720.0      54010.0
3        4.0      1451.0           1748.0                 620.0      53730.0
4        5.0      1770.0           2111.0                 450.0      46620.0
5        6.0      1442.0           1733.0                 760.0      45260.0
6        7.0      1542.0           1858.0                1030.0      72240.0
7        8.0      1261.0           1507.0                1020.0      37720.0
8        9.0      1090.0           1321.0                 680.0      46310.0
9       10.0      1030.0           1235.0                1130.0      44150.0

In [7]:
indexD = data.set_index('Store ID ') # d)
print(" Store ID as index \n",indexD)

 Store ID as index
            Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
Store ID
1.0            1659.0           1961.0                 530.0      66490.0
2.0            1461.0           1752.0                 210.0      39820.0
3.0            1340.0           1609.0                 720.0      54010.0
4.0            1451.0           1748.0                 620.0      53730.0
5.0            1770.0           2111.0                 450.0      46620.0
...               ...              ...                   ...          ...
586.0          1227.0           1476.0                 720.0      56260.0
587.0          1609.0           1930.0                 740.0      76470.0
588.0          1553.0           1831.0                 740.0      35680.0
589.0          1814.0           2174.0                 770.0      90070.0
590.0          1240.0           1493.0                 590.0      33120.0

[590 rows x 4 columns]

In [8]:
sdata = data.groupby('Store_Area') # c)
print(" Data is group by Store_Area \n",sdata)

 Data is group by Store_Area
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f8f81d79670>